@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  background-image: url('../../public/bg-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  overflow: hidden;
}
body::after {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
}
main {
  height: calc(100dvh - 150px);
  overflow: scroll;
  padding-top: 30px;

}

.sub-title {
  text-align: center;
  margin-top: 10px;
  color: #FFE4C4;
}



